# This is a basic workflow to help you get started with Actions

name: Python application test with Github actions
on:
  push:
    branches: [ "main" ]
#   pull_request:
#     branches: [ "main" ]
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - name: Set nup Python 3.8
        uses: actions/setup-python@v1
        with:
          python-version: 3.8
      - name: Install dependencies
        run: |
          make install
      - name: Lint with Pylint
        run: |
          make lint
      - name: Test with Pytest
        run: |
          make test
      - name: Format code with Python black
        run: |
          make format
